* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  color: #322e2f;
}

.menu li a {
  font-family: sans-serif;
  font-size: 20px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgba(155, 224, 201, 0.868);
  color: #fff;
}

.nav-links a {
  color: #928e8e;
}

.logo {
  font-size: 32px;
  font-family: Times, "Times New Roman", Georgia, serif;
  margin-left: 10vw;
}

span {
  font-size: 3rem;
  color: #322e2f;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  margin-left: 25vw;
}

.menu li button {
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
}

.menu li {
  padding: 5px 14px;
  color: #322e2f;
}

.services {
  position: relative;
}

.dropdown {
  background-color: #322e2f;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
  color: #c8c8c8;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.services:hover .dropdown {
  display: block;
}
.dropdown li a {
  font-size: 20px;
  color: #c8c8c8;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
.menu li {
  padding: 8px;
  margin-bottom: 7px;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.bannière {
  width: 100%;
  background: url("./../Images/background.webp");
  height: 100vh;
  background-size: cover;
  margin-bottom: 165px;
  background-position: left;
  position: relative;
}

.bannière .flotant {
  color: #c8c8c8;
  position: absolute;
  width: 50%;
  top: 70vh;
  height: 380px;
  background-color: white;
  left: 25%;
}

.bannière h1 {
  text-align: center;
  padding-top: 30vh;
  font-size: 4rem;
  font-family: sans-serif;
  color: #545252;
}

.bannière h1 span {
  color: white;
  font-size: 5rem;
}

.flotant span {
  font-size: 3rem;
  color: rgba(101, 155, 137, 0.469);
}

.flotant p {
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  padding-top: 50px;
}

.flotant button {
  border: none;
  font-size: 1.2rem;
  color: #c8c8c8;
  padding: 10px;
  width: 20%;
  height: 50px;
  margin-left: 20vw;
  background-color: #322e2f;
}

#Apropos {
  width: 100%;
  background-color: #c8c8c802;
}

.display::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.header {
  background-color: rgba(155, 224, 201, 0.539);
  color: #928e8e;
  padding: 25px;
  text-align: center;
}

.card h1 {
  color: #928e8e;
}

.texte p {
  padding-bottom: 20px;
  font-size: 25px;
  font-family: italic;
  color: #928e8e;
}

.texte h1 {
  margin: 20px;
  font-size: 3rem;
  font-family: sans-serif;
  color: #322e2f;
}

.display {
  display: flex;
}

.display .texte {
  width: 40%;
}

.display video {
  height: 40vh;
}

.Categorie {
  width: 100%;
}

.Categorie h1 {
  text-align: center;
  padding: 15px;
  font-size: 2rem;
  font-family: sans-serif;
}

.card {
  background-color: #c8c8c87f;
  padding: 1rem;
  box-shadow: 0 5px 10px #322e2f;
  margin: 20px;
}

.card img {
  width: 100%;
  border-bottom-left-radius: 60px;
}

.card button {
  padding: 15px;
  margin: 0 auto;
  font-size: 17px;
  float: right;
}

.card a {
  color: #928e8e;
}

.card img {
  height: 25vh;
}

.cards {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.footer {
  background-color: rgba(155, 224, 201, 0.868);
  color: #322e2f;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.footer .texe {
  height: 27vh;
  display: flex;
  width: 100%;
  padding-top: 20px;
  margin-bottom: -60px;
  justify-content: space-around;
}

.texe .partie a {
  font-size: 25px;
  color: #322e2f;
}

.footer h2 {
  font-size: 1.5rem;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #322e2f;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social p {
  margin-left: 10px;
  border: 2px solid #322e2f;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
}

.footer p {
  font-size: 1.3rem;
  padding: 10px;
  color: #322e2f;
}

.partie input {
  width: 60%;
  height: 30px;
}

.partie button {
  width: 35%;
  height: 30px;
  background-color: #322e2f;
  border: none;
  color: #c8c8c8;
}

input[type="text"] {
  outline: none;
  border: none;
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    margin-left: 70px;
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .footer {
    display: block;
  }
}
