* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  color: #322e2f;
}

.menu li a {
  font-family: sans-serif;
  font-size: 20px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(155, 224, 201, 0.868);
  color: #fff;
}

.nav-links a {
  color: #322e2f;
}

.logo {
  font-size: 32px;
  font-family: Times, "Times New Roman", Georgia, serif;
  margin-left: 80px;
}

.logo span {
  font-size: 3rem;
  color: #322e2f;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li button {
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
}

.menu li {
  padding: 5px 14px;
  color: #322e2f;
}

.services {
  position: relative;
}

.dropdown {
  background-color: #322e2f;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
  color: #c8c8c8;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.services:hover .dropdown {
  display: block;
}
.dropdown li a {
  font-size: 20px;
  color: #c8c8c8;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #c8c8c855;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
}

.bannière {
  width: 100%;
  background: url("./../Images/background.webp");
  height: 845px;
  background-size: cover;
  margin-bottom: 165px;
  background-position: left;
}

.bannière .flotant {
  color: #c8c8c8;
  position: relative;
  width: 50%;
  top: 60vh;
  height: 380px;
  background-color: white;
  left: 25%;
}

.flotant span {
  font-size: 3rem;
  color: aquamarine;
}

.flotant p {
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  padding-top: 50px;
}

.flotant button {
  border: none;
  font-size: 1.2rem;
  color: #c8c8c8;
  padding: 10px;
  width: 20%;
  height: 50px;
  margin-left: 20vw;
  background-color: #322e2f;
}
.MesGrid {
  width: 100%;
  height: 100px;
  background-color: aquamarine;
}

.MesGrid h5 {
  text-align: center;
  font-size: 2rem;
  color: red;
}

footer{
  background-color: rgba(155, 224, 201, 0.868);
}
